**/*.pyc
**/*.swp
tags
.idea
packages
build/
OpenWebRX.egg-info/
*.pyc
__pycache__/
*.egg

# Audio recordings
/var/lib/openwebrx/recordings/
*.mp3

# Backup files
*.bak
*.backup_*

# Log files
/var/log/openwebrx-autorecorder.log
